.App {
  display: flex;
  flex-direction: column;
}

header {
  /* background-color: #282c34; */
  height: 10vh;
  background-color: silver;
}

body {
  height: 85vh;
  background-color: whitesmoke;
}

footer {
  height: 5vh;
  background-color: silver;
}

.Card {
  margin: 10px;
  height: 90%;
  background: #dde1e7;
  border-radius: 5px;
  box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
}
